
.container .title::before{
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    height: 3px;
    width: 100%;
    background: linear-gradient(25deg ,#068fa1, #f7ff5c);
}
.container form .form-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .form-details .input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}
.form-details .input-box .detales{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}
.form-details .input-box input:focus,
.form-details .input-box input:valid{
    border-color: #9b59b6;
}
.botao{
    height: 45px;
    margin: 45px 0;
}
.butao{
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
}
.butao:hover{
    scale: 1.03;
}
@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .form-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    
}
.fotodoproduto{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.foto{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}